body{
    background-color: lightgray;
    margin-top: 10px;
}

header{
    background-color: rgb(55, 55, 55);
    width: 90%;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-top: 2px;
    text-align: center;
    color: lightgrey;
    font-size: 36px;
}

nav{
    background-color: rgb(70, 70, 70);
    margin-left: 5%;
    width: 90%;   
}

nav ul{
    border-bottom: 5px double rgb(200, 200, 200);
    padding-left: 0%;
    margin-top: 2px;
    list-style-type: none;
    color: lightgrey;
    overflow: hidden;
}

nav li {
    float: left;
    border-right:1px solid #bbb;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

aside {
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    width: 15%;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    float: right;
    border-left: 1rem solid rgb(40, 40, 40);
    background-color: rgb(70, 70, 70);
    color: lightgrey;
}

aside ul{
    list-style-type: none;
    color: lightgrey;
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;    
}

aside li{
    border-top:0px solid #bbb;
}

aside li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

aside li a:hover {
    background-color: #111; 
}

section {
    width: 70%;
    /*padding: 25px;*/
    margin-left: 5%;
    float: left;
    margin-top: 5px;
    padding-bottom: 10px; 
}


.HOME_SITE {
    background: linear-gradient(90deg, rgba(54, 97, 111,1) 0%, rgba(54, 97, 111,1) 1rem, rgba(185, 185, 185,1) 1rem, rgba(185, 185, 185,1) 100%);
}

.FGALERY {
    background: linear-gradient(90deg, rgba(52, 51, 114,1) 0%, rgba(52, 51, 114,1) 1rem, rgba(185, 185, 185,1) 1rem, rgba(185, 185, 185,1) 100%);
}

.AGALERY {
    background: linear-gradient(90deg, rgba(114, 114, 51,1) 0%, rgba(114, 114, 51,1) 1rem, rgba(185, 185, 185,1) 1rem, rgba(185, 185, 185,1) 100%);
}

.VGALERY {
    background: linear-gradient(90deg, rgba(51, 114, 68,1) 0%, rgba(51, 114, 68,1) 1rem, rgba(185, 185, 185,1) 1rem, rgba(185, 185, 185,1) 100%);
}


article {
    margin-left: 1.75rem;
    width: calc(100% - 3.5rem);
    float: left;
}

article.FGALERY_slot {
    margin-bottom: 1rem;
    margin-top: 0px;
    padding-bottom: 10px;
}

article.VGALERY_slot {
    margin-bottom: 1rem;
    margin-top: 0px;
    padding-bottom: 10px;
    width: calc(100% - 3.5rem);
}

div.FGALERY_element {
    background-color:  rgb(100, 100, 100);
    margin-left: 2%;
    border: 3px solid white;
    float: left;
    width: 30.5%;
    margin-top: 0.5rem;
}

div.FGALERY_element img {
    width: 100%;
    height: auto;
  }

div.FGALERY_disc {
    padding: 15px;
    color: lightgray;
    text-align: center;
}

div.VGALERY_element {
    margin-left: 2%;
    float: left;
    width: 100%;
    margin-top: 0.5rem;
    padding-bottom: 0px;
}

div.VGALERY_video {
    float: left;
    width: 50%;
}

div.VGALERY_description {
    float: right;
    width: 46%;
    margin-right: 2%;
    margin-top: 5px;
}

video {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px)
{
    aside {
        display: none;
    }

    section {
        width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 1000px)
{
    div.FGALERY_element {
        width: 46.5%;
    }
}

@media (max-width: 750px)
{
    div.FGALERY_element {
        width: 95%;
    }
}

p{
    padding: 5px;
    margin: 1px;
}

section p {
    padding-left: 1.75rem;
    text-align: center;
    font-size: 16px;
}

h1{
    padding: 5px;
    margin: 1px;
}

h2{
    padding: 5px;
    margin: 1px;
}

section h2 {
    padding-left: 1.75rem;
    text-align: center;
    font-size: 32px;
}

div.VGALERY_description p{
    text-align: start;
    font-size: 18px; 
}
