body{
    background-color: lightgray;
    margin-top: 10px;
}

header{
    background-color: rgb(55, 55, 55);
    width: 90%;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-top: 2px;
    text-align: center;
    color: lightgrey;
    font-size: 36px;
}

nav{
    background-color: rgb(70, 70, 70);
    margin-left: 5%;
    width: 90%;   
}

nav ul{
    
    border-bottom: 5px double rgb(200, 200, 200);
    padding-left: 0%;
    margin-top: 2px;
    list-style-type: none;
    color: lightgrey;
    overflow: hidden;
}

nav li {
    float: left;
    border-left:1px solid #bbb;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

p{
    padding: 1px;
    margin: 1px;
}

h1{
    padding: 5px;
    margin: 1px;
}
